@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is my Test .Net project</h1>
    <p>Check out my <a href="https://github.com/raMitov">GitHub for more advanced stuff.</a>.</p>
</div>
